html, body{
    font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

.bg{
    background: linear-gradient( rgba(255,255,255, .4),  rgba(255,255,255, .4)),  url(images/background.jpg) 50% 50%;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-size: 1rem;
}

h1{
    font-weight: 600;
}

.content {
    text-align: center;
    font-weight: 300;
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    margin-top: 15%;
    padding: 2%;
    
}

img{
    height: 200px;
    width: 260px;
}

.col-lg-6{
    background: linear-gradient( rgba(214,160,79, .8), rgba(214,160,79, .8)) 50% 50%;
    margin-top: 6%;
    padding: 5%;
    outline: 4px solid white;
    outline-offset: -10px;
}

h1{
    font-family: 'Gabriela', serif;
}

h2{
    letter-spacing: 8px;
}

span{
    color: #cc2976;
}

a{
    color: black;
}

a:hover{
    color: #cc2976;
}